// layout colors
$main-color: #E8E8E8;
$footer-color: #ECECEC;
$primary-black: #101010;

$div-1-color: #3C1567;
$div-2-color: #3C3C3C;
$div-3-color: #0072BC;

// text colors
$icon-primary: #009CFF;
$text-secondary: grey;
$link-secondary: #C70EB8;
